.Heading {
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.Admissions {
    display: flex;
    flex-direction: row;
}

.ButtonDiv {
    display: flex;
    margin: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.AddButton {
    width: 15%;
    margin: auto;
}