table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    border: 1.5px solid #dddddd;
    margin-bottom: 3rem;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 25%;
}

.TableHeading {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.6em;
    color: #666;
    font-weight: bold;
    margin-top: 3rem;
    letter-spacing: 0.5px;
    text-align: center;
}

.SubHeading {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.6em;
    color: #666;
    font-weight: bold;
    margin-top: 3rem;
    letter-spacing: 0.5px;
}